.inputcart{
    align-items: center;
    margin-top: 7px;
}
.btn-area{
    margin-top: 5px;
    bottom: 20px;
    right: 20px;
    padding: 7px 2px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.btn-area:hover{
    background-color: red;
    color:black;
}
.btn-checkout{
    bottom: 20px;
    right: 20px;
    padding: 20px 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.btn-checkout:hover{
    background-color: blue;
    color:white;
}
.btn-placeorder{
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.btn-placeorder:hover{
    background-color: blue;
    color:white;
}
.btn-paypal{
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.btn-paypal:hover{
    background-color: yellow;
    color:black;
}
h4{
    margin-top: 15px;
}
h5{
    margin-top: 15px;
}
/* .cart-index{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.project-cart{
    /* display: flex;
}
.shop-cart{
    flex: 75%;
}
.box-cart{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    background: white;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 15px;
}
.box-cart:hover{
    transform: scale(1.02);
}
.box-cart img{
    height: 200px;
    min-width: min-content;
    margin: 0,auto;
    object-fit: cover;
}
.content-cart{
    padding: 20px;
    position: relative;
    width: 100%;
}
.content-cart h3{
    margin-bottom: 10px;
}
.content-cart h4{
    margin-bottom: 20px;
}

.right-bar{
    flex: 25%;
    margin-left: 20px;
    padding: 20px;
    height: 200px;
    border-radius: 15px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.right-bar hr{
    margin-bottom: 25px;
}
.right-bar .btn-checkout{
    bottom: 20px;
    right: 20px;
    padding: 20px 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.right-bar .btn-checkout:hover{
    background-color: blue;
    color:white;
}

@media screen and (max-width: 700px){
    .content-cart h3{
        margin-bottom: 15px;
    }
    .content-cart h4{
        margin-bottom: 20px;
    }
    .box-cart{
        height: 150px;
    }
    .box-cart img{
        height: 200px;
    }
}
@media screen and (max-width: 900px){
    .project-cart{
        flex-direction: column;
    }
    .right-bar{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1250px){
    .wrapper{
        max-width: 95%;
    }
} */