
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

:root {
	--mainColor: white;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: black;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
a{
    text-decoration: none;
    list-style-type: none;
}
nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {

	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.nav-btn{
	cursor: pointer;
	display: none;
}

header div,
nav {
	display: flex;
	align-items: center;
}
.cartcount{
    cursor: pointer;
}
.cartcount span:nth-child(1){
}
.cartcount span:nth-child(2){
    position: relative;
    top: -7px;
    right:-3px;
}
.btn-group{
    padding: 10px;
    margin-top: -3px;
}
.btn-group .drop-css{
    background-color: black;
    color: white;
    border-radius: 15px;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}
	.nav-btn{
		display: block;
	}
	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
        z-index: 1;
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}